{% extends "layout.html" %}
{% block body %}
<header class="masthead" style="background-image: url('{{ url_for('static', filename='assets/img/home-bg.jpg') }}')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1>404</h1>
          <span class="subheading">Page Not Found</span>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7 text-center py-5">
      <h2>Oops! Page Not Found</h2>
      <p class="lead">The page you're looking for doesn't exist or has been moved.</p>
      <a href="{{ url_for('index') }}" class="btn btn-primary btn-lg me-2">
        <i class="fas fa-home"></i> Go Home
      </a>
      <a href="{{ url_for('search') }}" class="btn btn-outline-primary btn-lg">
        <i class="fas fa-search"></i> Search Posts
      </a>
    </div>
  </div>
</div>
{% endblock %}
